/* CSS stylesheet for index.html */

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-content-left-margin: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

.image-sidebar {
    height: 100%;
    width: 35%;
    background: no-repeat url("./guitarist.png");
    position: relative;
}

.image-sidebar-logo {
    position: absolute;
    top: 20%;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 20%);
}

.odin-logo {
    height: 80%;
    width: auto;
}

.logo-title {
    font-family: norsebold;
    font-size: 5rem;
    color: white;
    align-self: center;
}

.main-content {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.form-description-wrapper,
.account-options-wrapper {
    flex: auto;
    max-height: 30%;
    background-color: rgb(71, 67, 66);
    overflow: auto;
}

.form-content-wrapper {
    flex: auto;
    max-height: 40%;
    background-color: rgb(31, 31, 31);
    overflow: auto;
}

.form-description-wrapper {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 60px 80px 0 var(--main-content-left-margin);
}

.form-content-wrapper p:first-child {
    font-size: 1.5rem;
    padding-top: 20px;
    margin: 0 0 40px var(--main-content-left-margin);
}

div.form-line {
    display: flex;
    margin-bottom: 30px;
}

div.last-form-line {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 30px;
}

div.form-item {
    display: flex;
    flex-direction: column;
    margin: 0px 160px 0px var(--main-content-left-margin);
}

input {
    font-size: 1rem;
    width: 160px;
    border-radius: 4px;
    padding: .15rem;
}

input::placeholder {
    opacity: .5;
}

input:user-invalid {
    border: 1px solid red;
    background-color: rgb(255 125 125 / 50%);
}

input:user-valid {
    border: 1px solid green;
    background-color: rgb(125 255 125 / 50%);
}

input:focus {
    outline: none;
    border: 1px solid blue;
    background-color: rgb(196 196 196)
}

button[type="submit"] {
    height: 40px;
    width: 160px;
    margin: 20px 0px 10px var(--main-content-left-margin);
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    border: none;
    color: white;
}

.account-options-wrapper p {
    margin: 0 0 0 var(--main-content-left-margin);
}

.account-options-wrapper p {
    margin-top: 10px;
}

p.account-login a {
    text-decoration: none;
}

a:visited {
    color: aqua;
}